@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Handlee&family=Kalam:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 衡水体英文样式字体 */
@font-face {
  font-family: 'Hengshui';
  src: url('/fonts/Hengshui.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* 快乐星球体中文字体 */
@font-face {
  font-family: 'HappyPlanet';
  src: url('/fonts/HappyPlanet.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
